[submodule "themes/themes/mediumish"]
	path = themes/themes/mediumish
	url = https://github.com/lgaida/mediumish-gohugo-theme
[submodule "themes/mediumish"]
	path = themes/mediumish
	url = https://github.com/lgaida/mediumish-gohugo-theme
