<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-lg-left">
<a href='/hubungi-kami'>Hubungi Kami</a><span style='padding:0 10px 0 10px'>&#8226;</span><a href='/kebijakan-privasi'>Kebijakan Privasi</a><span style='padding:0 10px 0 10px'>&#8226;</span><a href='/mengenai-kami'>Mengenai Kami</a>
            </div>
            <div class="col-md-6 col-sm-6 text-lg-right">
&copy; {{ .Site.Copyright }} <b>SAK</b>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
